/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2018, 10:04:48 PM
    Author     : sayre
*/

html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over, #game-over-overlay, #begin-game-overlay {
    margin: auto;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#game-stats{
    position: absolute;
    top: 510px;
    right: 380px;
    color: white;
    text-align: right;
    z-index: 1;
    display: none;
}
#play-percentage{
    font-size: 2em;
}
#begin-game{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over, #begin-game h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over, #begin-game button {
    font-size: 1.5em;

}


#begin-game-overlay {
    background-color: white;
}


#begin-game {
    height: 200px;
    text-align: center;
    color: black;
}



.container{
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.bar {
    width: 400px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #151515;
}

.skills {
    text-align: right;
    padding-right: 5px;
    line-height: 100%;
    color: black;
}

.strength {width: 20%; background-color: red;}
.speed {width: 20%; background-color: yellow;}
.weight {width: 20%; background-color: blue;}


#countdown {
  position: absolute;
  top: 49%;
  right: 79.87%;
  height: 78px;
  width: 80px;
  text-align: center;
  z-index: 1;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 220px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #58B947;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 220px;
  }
}